In [33]:
s = "this is My First Python programming class and i am learNING python string and its function"

1. Try to extract data from index one to index 300 with a jump of 3

In [3]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

2. Try to reverse a string without using reverse function

In [7]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

3. Try to split a string after conversion of entire string in uppercase

In [13]:
su = s.upper()

In [15]:
su

'THIS IS MY FIRST PYTHON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [14]:
su.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

4. Try to convert the whole string into lower case

In [16]:
su.lower()

'this is my first python programming class and i am learning python string and its function'

5. Try to capitalize the whole string

In [18]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

6. Write a difference between isalnum() and isalpha()

isalnum() - Returns True if the string contains at least one character with numbers or alphabets else False

isalpha() - Returns True if the string contains at least one character and all are alphabets else False

7. Try to give an example of expand tab

In [48]:
s1 = "N\ta\tv\te\te\tn"

In [49]:
s1.expandtabs()

'N       a       v       e       e       n'

8. Give an example of strip , lstrip and rstrip

##strip - trims all the whitespace of a string

In [37]:
s2 = "      Naveen     "

In [38]:
s2.strip()

'Naveen'

##lstrip - trims all the left whitespace of a string

In [39]:
s2.lstrip()

'Naveen     '

##rstrip - trims all the right whitespace of a string

In [40]:
s2.rstrip()

'      Naveen'

9. Replace a string character by another character by taking your own example 
"sudhanshu"

In [43]:
s3 = "Naveen"

In [50]:
s3.replace("e", "a")

'Navaan'

10. Try  to give a definition of string center function with an example

center() - this function will center align the string using a specified character

##Example

In [51]:
s4 = "Naveen"

In [53]:
s4.center(20, "_")

'_______Naveen_______'

11. Write your own definition of compiler and interpreter

Compiler - It executes all lines of code at a time
Interpreter - It executes the code line by line

 12. Python is a interpreted of compiled language give a clear Ans with your understanding

Python is both compiled and interpreted. The Python code first gets compiled to give a Byte code and byte code will be interpreted on Python Virtual Machine to give output

13. Try to write a use case of python with your understanding

Web Development - Python can be used for Web development as it provides security and scalability to applications. Python has couple of frameworks like Django and Flask for the same.